DATABASE_URL=postgresql://{{ database_user }}:{{ database_password }}@127.0.0.1:5432/{{ database_name }}
PORT={{ engine_port }}
JWT_PRIVATE_KEY={{ project_root }}/engine/jwt/private.pem
JWT_PUBLIC_KEY={{ project_root }}/engine/jwt/public.pem
LLM_MEMORY_URL={{ llm_memory_api_url | default('http://127.0.0.1:3100') }}
